a.button {
	border: none;
	cursor: pointer;
	line-height: normal;
	position: relative;
	z-index: 0;
	text-align: center;
	display: inline-block;
	border-radius: 4px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.20), 0 6px 10px 0 rgba(0,0,0,.30);
	font-size: $h4; // 21px
	padding: 16px 32px;
	text-decoration: none;
	color: #333;
	background: #fffeb3;

	&:hover {
		color: #000;
		background: #fffe90;
		box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
	}
}
