@import "neat-helpers";

// $min-1500: new-breakpoint(min-width em(1500) 16); 
$min-1500: new-breakpoint(min-width 1500px 16); 
// $large: new-breakpoint(max-width em(1000) 12); 
$large: new-breakpoint(max-width 1000px 12); 
// $medium-plus: new-breakpoint(max-width em(830) 12);
$medium-plus: new-breakpoint(max-width 830px 12);
// $medium: new-breakpoint(max-width em(750) 10);  
$medium: new-breakpoint(max-width 750px 10);  
// $android: new-breakpoint(max-width em(610) 8); 
$android: new-breakpoint(max-width 610px 8); 
// $small: new-breakpoint(max-width em(500) 8); 
$small: new-breakpoint(max-width 500px 8); 
// $tiny: new-breakpoint(max-width em(380) 6); 
$tiny: new-breakpoint(max-width 380px 6); 


