header {
	background: #697b99;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.20), 0 6px 10px 0 rgba(0,0,0,.30);
	height: 55px;
	width: 100%;
	position: fixed;
	z-index: 100;
}

.logo {
	img {
		position: absolute;
		max-width: 65px;
		height: auto;
		float: left;
		z-index: 55;
	}

	h1 {
		position: absolute;
		text-shadow: 0 6px 10px rgba(0,0,0,.30);
		z-index: 55;
		color: $white;
		// font-size: $h1-cursive;
	}
}

@media screen and (min-width: 751px) {
	.logo {
		h1 {
			display: none;
			visibility: hidden;
		}
	}
}

@media screen and (min-width: 920px) {
	.logo {
		h1 {
			display: block;
			visibility: visible;
		}
	}
}

@media #{$medium} {
	.logo {
		h1 {
			// font-size: $h1-cursive-medium;
		}
	}
}
