header {
	background: #697b99;

	@include media($maxWidth-1000) {
		background: red;
	}

	@include media($maxWidth-830) {
		background: purple;
	}

	@include media($maxWidth-750) {
		background: blue;
	}

	@include media($maxWidth-610) {
		background: green;
	}

	@include media($maxWidth-500) {
		background: black;
	}

	@include media($maxWidth-380) {
		background: yellow;
	}
}
