
// Typography Variables
$text-color: #fff;
$link-color: #fff;
$hr-color: #ccc;

$baseline: 1.4rem; //22px

$body-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Parisienne', sans-serif;
$header-font-weight: 600;
$body-font-weight: 600;

$h5-h6-letter-spacing: 1.2;

$p-size: em(16); 

// PERFECT FOURTH //
$h1-size: em(50); 
$h2-size: em(37); 
$h3-size: em(28); 
$h4-size: em(21); 
$h5-size: em(16); 
$h6-size: em(12);
$p-large-size: em(26);

$dark-blue: #697B99;
$body: #f4f2f2;


// Hexadecimal Color Variables




