
// Typography Variables
$text-color: #fff;
$link-color: #fff;
$hr-color: #ccc;

$baseline: 1.4rem; //22px

$body-font-family: 'Muller Regular', sans-serif;
$header-font-family: 'Parisienne', sans-serif;
$header-font-weight: 700;
$body-font-weight: 400;

$p-size: em(16); // 1.000em

$h1-size: 3.157em; // 50px
$h2-size: 2.369em; // 37px
$h3-size: 1.777em; // 28px
$h4-size: 1.333em; // 21px
$h5-size: 1em; // 16px
$h6-size: 0.750em; // 12px

$dark-blue: #697B99;
$body: #f4f2f2;


// Hexadecimal Color Variables



// ALT TYPOGRAPHY SIZES
// $h1-size: em(37); // 2.313em
// $h2-size: em(32); // 2.000em
// $h3-size: em(28); // 1.750em
// $h4-size: em(21); // 1.313em
// $h5-size: em(16); // 1.000em
// $h6-size: em(12); // 0.750em

