@import "../../settings/_settings.scss";

.about {
	height: 550px;
	text-align: center;

	.row#story {
		padding: 55px 10px 0;
	}

	.row#pics {
		padding: 40px 0;
	}

	h1.title,
	h3 {
		color: #333;
	}
}

.profile-pic {
	@include span-columns(8 of 16);
	padding: 0 35px;
}

.profile-pic#patrice {
	text-align: right;
}

.profile-pic#nicolas {
	text-align: left;
}

@include media($medium) {
	.about {
		height: auto;
	}

	.profile-pic {
		padding: 0 10px;
	}
}