@import "../../settings/_settings.scss";

.conservatory {
	text-align: center;
	border-top: em(10) solid $dark-blue;
	position: relative;

	.section-content {
		bottom: em(100);
		width: 90%;
		left: 5%;
	}
}

@include media($medium) {
	.conservatory {
		background: url('/img/index/conservatory/conservatory-small.jpg');
		height: em(550);
		
		.section-content {
			bottom: em(30);
		}
	}
}



