@import "../../settings/_settings.scss";

.conservatory {
	text-align: center;
	border-top: 10px solid $dark-blue;
	position: relative;

	.section-content {
		bottom: 100px;
		width: 90%;
		left: 5%;
	}
}

@include media($medium) {
	.conservatory {
		background: url('/img/index/conservatory/conservatory-small.jpg');
		height: 550px;
		
		.section-content {
			bottom: 30px;
		}
	}
}


@include media($min-1500) {
	.conservatory {
		.slide-1 {
			background-image: url("/img/index/conservatory/min-1500/conservatory-1.jpg");
		}
		.slide-2 {
			background-image: url("/img/index/conservatory/min-1500/conservatory-2.jpg");
		}
		.slide-3 {
			background-image: url("/img/index/conservatory/min-1500/conservatory-3.jpg");
		}
	}
}

