@import "../../settings/_settings.scss";

.conservatory {
	text-align: center;

	h1,
	h3 {
		// position: absolute;
		width: 100%;
	}

	h1 {
		bottom: 100px;
	}

	h3 {
		// position: absolute;
		bottom: 40px;
		padding: 0 rem(24);
	}
}


@include media($small) {
	.conservatory {
		.row {
			padding-top: em(200);
		}
	}	
}

