@import '../../settings/_settings.scss';

.gardens {
	position: relative;

	text-align: right;

	border-top: 10px solid $body;
	h1 {
		margin-top: 2%;
	}
	h3 {
		right: 0;

		float: right;

		width: 650px;
		margin-top: 0;
		margin-bottom: 30px;
	}
}

// @include media($medium-plus) {
@include media($maxWidth-830) {
	.gardens {
		h3 {
			@include span-columns(12 of 16);
			@include shift(4 of 16);
		}
	}
}

// @include media($medium) {
@include media($maxWidth-750) {
	.gardens {
		height: 550px;

		text-align: center;

		background: url('/img/index/gardens/garden-small.jpg');
		.section-content {
			bottom: 0;

			background-image: linear-gradient(-180deg, rgba(0,0,0,.00) 0%, rgba(0,0,0,.50) 45%, #000 100%);
		}
		h3 {
			text-shadow: none;

			@include span-columns(8 of 8);
			@include shift(0);
		}
	}
}

// @include media($min-1500) {
@include media($minWidth-1500) {
	.gardens {
		.slide-1 {
			background-image: url('/img/index/gardens/min-1500/garden-1.jpg');
		}
		.slide-2 {
			background-image: url('/img/index/gardens/min-1500/garden-2.jpg');
		}
		.slide-3 {
			background-image: url('/img/index/gardens/min-1500/garden-3.jpg');
		}
	}
}
