@import "../../settings/_settings.scss";

.hip-banner {
	text-align: center;

	.row {
		padding-top: em(36);
		margin-bottom: em(60);
	}

	h3 {
		color: #333;
		margin-bottom: rem(32);
	}

	a.button {
		span {
			font-family: $header-font-family;
		}
	}

	@include media($tiny) {
		.row.padding {
			padding: em(36) 0 0;
		}
	}
}