@import "../../settings/_settings.scss";

@import "_splash.scss";
@import "_garden.scss";
@import "_conservatory.scss";
@import "_hip.scss";
@import "_interior.scss";
@import "_about.scss";
@import "_location.scss";

body#index {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	p.large {
		text-shadow: 0 rem(6) rem(10) rgba(0,0,0,1.0);
	}	
}

.hip-banner,
.about,
.interior_gallery,
.location,
.map-banner,
footer {
	border-top: em(6) solid $dark-blue;
}

.gardens,
.conservatory,
.interior_gallery,
.location,
.gardens .slide-1,
.gardens .slide-2,
.gardens .slide-3,
.conservatory .slide-1,
.conservatory .slide-2,
.conservatory .slide-3, {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.section-content {
	position: absolute;
	z-index: 40;
	width: 100%;
}

@include media($medium-plus) {
	.section-content {
		h1 {
			font-size: rem(50);
		}
	}
}

@include media($medium) {
	.section-bg {
		visibility: hidden;
		display: none;
	}
}

@include media($min-1921) {
	.gardens,
	.conservatory,
	.interior_gallery {
		.slide-1,
		.slide-2,
		.slide-3 {
			background-position: center top;
			height: em(750);

			img {
				visibility: hidden;
				display: none;
			}
		}
	}
}