
.interiorGallery {
	background: $dark-blue;

	.row {
		max-width: 1366px;
	}

	.yellow-bar {
		background: $yellow;
	}
}

@media #{$medium} {
	.interiorGallery {
		.imgWrap {
			max-height: 760px;
			overflow: hidden;
		}

		.proseWrap {
			flex-direction: column;
			justify-content: center;
		}

		h1 {
			span {
				font-size: $h3;
				text-transform: uppercase;
			}
		}
	}
}
