@import "../../settings/_settings.scss";

.location {
	background: url('/img/location/location.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	overflow: hidden;
	display: block;
	width: 100%;
	max-height: 800px;
	text-align: center;
	text-align: left;

	h4 {
		margin: 0 auto;
		@include span-columns(6 of 16);

		span {
			display: inline-block;
		}
	}
}

.location:after {
	content: "";
	display: block;
	padding-bottom: 0;
}

.row#primary-contact {
	padding: em(50) em(21) 0;

	h3 {
		margin-top: em(10);
		@include span-columns(10 of 10);
	}
}

.map-holder {
	@include span-columns(6 of 16);
	height: 250px;
	background: #fff;
}

.row#secondary-contact {
	text-align: center;
	margin-bottom: em(30);

	.address,
	.phone,
	.email,
	ul.social-icons {
		@include span-columns(4 of 16);
	}
}

ul.social-icons {
	float: left;
	li {
		display: inline-block;
		margin: 0 em(8);

		img {
			width: 50px;
			height: 50px;
		}
	}
}