@import "../../settings/_settings.scss";

.featureFocus-milieu {
	margin-top: 55px; 
	padding: 20px 0; 
	text-align: center; 
	background: #fff;

	p {
		display: inline-block;
		color: #000;
		margin: 0;
		text-shadow: none !important;

		@include media($large) {
			display: block;
			margin-bottom: 12px;
		}
	}

	img {
		display: inline-block;
		margin: 0 12px;
		width: 220px;
		height: auto;

		@include media($large) {
			margin-left: 0;
		}
	}

	a {
		color: #000; 
		text-decoration: none; 
		padding: 14px 12px; 
		border-radius: 4px; 
		border: 2px solid #697B99;

		&:hover {
			background: #697B99;
			color: #fff;
		}
	}
}


