@import '../../settings/_settings.scss';

.roundTop-section {
	background: linear-gradient(
	rgba(105,123,153,.80),
	rgba(105,123,153,.80)
	), url("/img/index/round-top/2018/spring/marburger-farms/background.jpg") center/cover no-repeat;
	padding: 50px 0;
}

@include breakpoint(medium) {
	.roundTop-section {
		h2 {
			font-size: $h1-cursive-medium;
		}
	}
}
