@import "../../settings/_settings.scss";

video#bgvid {
	position: fixed; left: 0; top: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url('/img/splash/poster.jpg') no-repeat;
	background-size: cover;
}

.splash {
	padding-top: em(55);
	text-align: center;
	min-height: 100%;

	.row {
		padding-top: em(200);
	}

	h1 {
		margin-bottom: rem(16);
	}

	h3 {
		@include span-columns(12 of 16);
		@include shift(2);
		margin-top: 0;
		margin-bottom: em(30);
	}

	a.button {
		font-family: $header-font-family;
		font-size: $h3-size;
		margin-bottom: rem(30);
	}
}

h3.slogan {
	font-size: rem(22);
	margin-bottom: rem(34);
}

@media screen and (max-width: 800px) {
	video#bgvid {
		display: none;
		visiblity: hidden;
	}
	.splash {
		background: url('/img/splash/splash-medium.jpg');
		background-position: 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

@include media($small) {
	.splash {
		background: url('/img/splash/splash-small.jpg');
		background-position: 50%;
		background-size: cover;
		background-repeat: no-repeat;

		h1 {
			font-size: rem(38);
		}

		.row {
			padding-top: em(100);
		}
		h3 {
			@include span-columns(7 of 8);
			@include shift(0.5);
		}
	}
}

@include media($tiny) {
	.splash {
		h3 {
			@include span-columns(8 of 8);
			@include shift(0);
		}
	}
}