@import "../../settings/_settings.scss";


#bgvid {
    position: absolute;
    z-index: -5;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    // UNSURE ::
	// width: auto;
    // height: auto;
}

.splash {
	position: relative;
	top: 0;
	left: 0;
	padding-bottom: em(120);
	text-align: center;
	min-height: 100%;
	overflow: hidden;

	.verbiage {
		padding-top: em(255);
	}

	h1 {
		margin-bottom: rem(16);
	}

	h2 {
		font-size: rem(22);
		margin-bottom: rem(34);
	}

	h3 {
		margin-bottom: rem(55);
	}

	h2,
	h3 {
		width: 66%;
		margin-left: 17%;
	}

	a.button {
		font-family: $header-font-family;
		font-size: $h3-size;
	}
}




@media screen and (max-width: 800px) {
	#bgvid {
		display: none;
		visiblity: hidden;
	}
	.splash {
		background: url('/img/index/splash/splash-medium.jpg') no-repeat;
		background-position: 50%;
		background-size: cover;
	}
}

@include media($medium) {
	.splash {
		h2,
		h3 {
			width: 84%;
			margin-left: 8%;
		}
	}
}

@include media($small) {
	.splash {
		background: url('/img/index/splash/splash-small.jpg') no-repeat;
		background-position: 50%;
		background-size: cover;

		h1 {
			font-size: rem(38);
		}

		h2,
		h3 {
			width: 100%;
			margin-left: 0;
			padding: 0 rem(10);
		}

		.verbiage {
			padding-top: em(140);
		}
	}
}

