@charset "UTF-8";

/* Slider */

.slick-list {
    .slick-loading & {
        background-color: #fff;
        background-image: url("/img/assets/slick/ajax-loader.gif") no-repeat;
        background-position: center center;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    z-index: 80;
    position: absolute;
    display: block;
    height: 75px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    bottom: rem(30);
    padding: 0;
    border: none;
    outline: none;
}

.slick-prev {
    left: 25px;

    &:before {
        content: url('/img/assets/slick/arrow-back.png');
    }

    &:hover {
        left: 15px;
    }
}

.slick-next {
    right: 25px;

    &:before {
        content: url('/img/assets/slick/arrow-next.png');
    }

    &:hover {
        right: 15px;
    }
}

@media screen and (max-width: 890px) {
    .slick-prev {
        &:before {
            content: url('/img/assets/slick/arrow-back-small.png');
        }
    }
    .slick-next {
        &:before {
            content: url('/img/assets/slick/arrow-next-small.png');
        }
    }
}


