
.section-content {
	position: absolute;
	margin-top: em(55);
	height: 100%;
	z-index: 40;
	width: 100%;
}

section.garden-slides {
	text-align: right;
	border-bottom: em(10) solid #F4F2F2;

	.slide-1 {
		background: url('/img/garden/garden-1.jpg');
	}

	.slide-2 {
		background: url('/img/garden/garden-2.jpg');
	}

	.slide-1,
	.slide-2 {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;
		overflow: hidden;
		display: block;
		width: 100%;
		height: 710px;
	}

	h3 {
		margin-top: 0;
		margin-bottom: em(30);

		@include span-columns(9 of 16);
		@include shift(7);

		span {
			display: inline-block;
		}
	}

	a.button {
		font-size: $h5-size;
		text-shadow: none;
	}
}

@media screen and (max-width: 890px) {
	section.garden-slides {
		h3 {
			@include span-columns(12 of 16);
			@include shift(4 of 16);
		}
	}
}

@include media($medium) {
	section.garden-slides {
		background: url('/img/garden/garden-1.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;
		overflow: hidden;
		display: block;
		width: 100%;
		height: 710px;

		.section-bg {
			visibility: hidden;
		}
	}
}

@include media($small) {
	section.garden-slides {
		text-align: center;

		h3 {
			@include span-columns(8 of 8);
			@include shift(0);
		}
	}
}
