.locationBanner {
	background: linear-gradient(
	rgba(105,123,153,.50),
	rgba(105,123,153,.50)
	), url('/img/index-2/location/location.jpg') center center/cover no-repeat;

	.contactInfo {
		a {
			color: $white;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
