@import "../settings/_settings.scss";

html,
body {
	height: 100%;
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

// Highlighted Text Effect
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}