@import "../settings/_settings.scss";

html,
body {
	height: 100%;
}

// Highlighted Text Effect
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}