@import '../settings/_settings.scss';
@import '_fonts.scss';

a,
a:visited {
	color: $white;

	&:hover {
		text-decoration: none;
	}
}

.title {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
}

h1.title {
	font-size: 62px;
}


@include media($maxWidth-500) {
	h1.title {
		font-size: 50px;
	}
}

h3 {
	span {
		display: inline-block;
	}
}

.text-shadow {
	text-shadow: 0 6px 10px rgba(0,0,0,1.0);
}

.no-shadow {
	text-shadow: none !important;
}

// -------------------------------------------------------------
// |            Below will replace everything above            |
// -------------------------------------------------------------

body {
	margin: 0;
	padding: 0;
	background: #fefefe;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.5;
	color: #0a0a0a;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// -------------------------------------------------------
// |            Basic Typography Class Styles            |
// -------------------------------------------------------

p {
	margin: 0 0 1rem;
	font-size: $p;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0 0 8px;
	line-height: 1.4;
	font-style: normal;
	font-weight: normal;
	color: inherit;
	text-rendering: optimizeLegibility;
}

// -------------------------------------------------------
// |            Default sans-serif typography            |
// -------------------------------------------------------


p,
.p {
	font-size: $p;
}

h1,
.h1 {
	font-size: $h1;
}

h2,
.h2 {
	font-size: $h2;
}

h3,
.h3 {
	font-size: $h3;
}

h4,
.h4 {
	font-size: $h4;
}

h5,
.h5 {
	font-size: $h5;
}

h6,
.h6 {
	font-size: $h6;
}

h5,
.h5,
h6,
.h6 {
	letter-spacing: 1px;
	text-transform: uppercase;
}

@media print, screen and (min-width: 40em) {
	h1,
	.h1 {
		font-size: $h1-medium;
	}

	h2,
	.h2 {
		font-size: $h2-medium;
	}

	h3,
	.h3 {
		font-size: $h3-medium;
	}

	h4,
	.h4 {
		font-size: $h4-medium;
	}

	h5,
	.h5 {
		font-size: $h5-medium;
	}

	h6,
	.h6 {
		font-size: $h6-medium;
	}
}

// ----------------------------------------------------------------
// |            .Cursive Typography Sizes (Parisienne)            |
// ----------------------------------------------------------------

.cursive {
	font-family: $cursive-font-family;
}

h1.cursive,
.h1.cursive {
	font-size: $h1-cursive;
}

h2.cursive,
.h2.cursive {
	font-size: $h2-cursive;
}

h3.cursive,
.h3.cursive {
	font-size: $h3-cursive;
}

h4.cursive,
.h4.cursive {
	font-size: $h4-cursive;
}

@media print, screen and (min-width: 40em) {
	h1.cursive,
	.h1.cursive {
		font-size: $h1-cursive-medium;
	}

	h2.cursive,
	.h2.cursive {
		font-size: $h2-cursive-medium;
	}

	h3.cursive,
	.h3.cursive {
		font-size: $h3-cursive-medium;
	}

	h4.cursive,
	.h4.cursive {
		font-size: $h4-cursive-medium;
	}
}
