@import "../settings/_settings.scss";
@import "_fonts.scss";




html {
	font-size: 1em;
}

html,
input,
button,
textarea {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}

body {
	color: $text-color;
	font-family: $body-font-family;
	line-height: 1.4;
}

p {
	margin-bottom: $baseline;
}

a,
a:visited {
	color: $link-color;

	&:hover {
		text-decoration: none;
	}
}

h1, 
h2, 
h3, 
h4,
h5,
h6 {
	margin: 0 0 rem(8);
	font-weight: $header-font-weight;
}

h5,
h6 {
	letter-spacing: $h5-h6-letter-spacing;
	text-transform: uppercase;
}

.title {
	font-family: $header-font-family;
}

h1.title {
	font-size: em(62);
}

p.large {
	line-height: 1.2;
	font-size: $p-large-size;
}

h1 {
	font-size: $h1-size;
	margin-top: 0;
}

h2 {
	font-size: $h2-size;
}

h3 {
	font-size: $h3-size;
}

h4 {
	font-size: $h4-size;
}

h5 {
	font-size: $h5-size;
}

h6 {
	font-size: $h6-size;
}

@include media($medium-plus) {
	
	h1 {
		font-size: $h2-size;
	}

	h2 {
		font-size: $h3-size;
	}

	h3,
	p.large {
		font-size: $h4-size;
	}

	h4 {
		font-size: $h5-size;
	}

	h5 {
		font-size: $h6-size;
	}

	h6 {
		font-size: $h6-size;
	}
}

@include media($small) {
	h1.title {
		font-size: rem(50);
	}
}

h3 {
	span {
		display: inline-block;
	}
}

.text-shadow {
	text-shadow: 0 rem(6) rem(10) rgba(0,0,0,1.0);
}

.no-shadow {
	text-shadow: none !important;
}